.about-flag {
  background-color: rgba(0, 0, 255, 0.2);
  text-align: center;
  padding: 45px 0;

  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-blocks {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-block {
  width: 32%;
  height: 100px;

  background-color: rgb(92, 90, 90);
  color: #fff;
  padding: 10px 5px;
  margin-right: 1em;
}

.about-block:last-child {
  margin-right: 0;
}

.about-content_title {
  margin-bottom: -15px;
}

@media (min-height: 600px) {
  .about-block {
    height: 200px;
  }

  .about-content_title {
    font-size: 36px;
  }

  .about-content_text {
    font-size: 27px;
  }
}
